@use '../../assets/styles/variables.scss' as var;

.loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .loader {
        height: 64px;
        width: 64px;
        border: 8px solid #f3f3f3;
        border-top: 8px solid var.$primary;
        border-radius: 50%;
        animation: spin 2s linear infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}