@use '../../assets/styles/variables.scss' as var;

.button {
    width: fit-content;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &.contained {
        background-color: var.$primary;
        color: #fff;

        &:hover {
            background-color: var.$secondary;
        }
    }

    &.cancel {
        background-color: var.$red;
        color: #fff;

        &:hover {
            background-color: var.$light-red;
        }
    }

    &.outlined {
        background-color: transparent;
        border: 2px solid var.$primary;
        color: var.$primary;

        &:hover {
            background-color: var.$secondary;
            border-color: transparent;
            color: #fff;
        }
    }
}