@use '../../assets/styles/variables.scss' as var;

.home {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4vw;

    .row-day-card {
        display: flex;
        gap: 2vw;
    }

    .row-search-btn {
        display: flex;
        justify-content: space-between;
    }

    .class-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 16px;

        .class-list-row-title {
            flex: 1;
            padding: 4px;
            border-radius: 4px;
            background-color: var.$primary;
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .title-item {
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }
        }
    }
}