@use '../../assets/styles/variables.scss' as var;

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2vw 0;

    .text-title {
        font-size: clamp(24px, 2vw, 30px);
        padding: 12px 0;
        color: var.$primary;
    }

    .turmas-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 200px;
        padding: 2.22vw;
        gap: 1.11vw;

        .btn-turma {
            cursor: pointer;
            border: none;
            height: 100%;
            width: 100%;
            background-color: var.$primary;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;
            grid-column: span 2;

            &:hover {
                background-color: var.$secondary;
            }

            .text {
                font-size: 18px;

                .span {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
    }
}