$background-color: #ecedee;
$menu-active-bg-color: #9fe3f4;
$text-blue: #1098ff;
$dark-grey: #7f7f7f;
$light-grey: #e9ecef;
$red: #C70000;

$normal-text-color: #000000;
$title-text-color: #000000;

$sm-border-radius: 4px;

$icon-size: 20px;

$primary: #684026;
$secondary: #9a785c;
$tertiary: #a16b45;